<%- include("../partials/header", { djsClient, user, path, title: "SuitBot" }) %>

<div class="card col-sm-10 offset-sm-1">
    <header class="card-header">
        <div><i class="fas fa-list"></i> Privacy Policy</div>
    </header>
    <div class="card-body">
        <h3>SuitBot Privacy Policy</h3>

        <p>When using SuitBot, we collect data about you to bring you a better experience.</p>

        <p>Last Modified: 12th June 2022.</p>

        <h3>What personal information do we collect from the people that use SuitBot?</h3>

        <ul>
            <li>Public information about your Discord server. This includes your server ID, server name, server icon, server locale, channel names, channel IDs and role IDs</li>
            <li>Public information about the members of your Discord server. This includes member IDs, names, discriminators, icons and online status.</li>
            <li>Any errors that have occurred while using commands and what event from your discord server triggered it.</li>
            <li>When logging in with Discord on our website (https://suitbot.xyz) SuitBot may store cookies to allow you to stay logged in. These cookies will not be stored considerably longer than 24 hours. You can disable these cookies by changing your browser settings.</li>
        </ul>

        <p>Some information listed above may only be stored when specific commands are used.</p>

        <h3>How do we use your information?</h3>

        <p>Your information is used within the bot for features which require said information. The information used will not be stored longer than necessary and deleted very soon after your interaction with SuitBot is complete. This excludes your server ID and locale which is stored indefinitely until you discontinue your usage of SuitBot by removing it from your Discord server.</p>

        <h3>Agreement</h3>

        <p>By using SuitBot, you agree to the terms of this Privacy Policy. If you do not agree to these terms you must not use our service.</p>

        <h3>Changes to Policy</h3>

        <p>We reserve the right to update or modify this Privacy Policy at any time and from time to time without prior notice. Please review this policy periodically, and especially before you provide any information. This Privacy Policy was last updated on the date indicated above. Your continued use of the services after any changes or revisions to this Privacy Policy shall indicate your agreement with the terms of such revised Privacy Policy.</p>
    </div>
</div>

<%- include("../partials/footer") %>