<%- include("../partials/header", { djsClient, user, path, title: "SuitBot" }) %>

<div class="card col-sm-10 offset-sm-1">
    <header class="card-header">
        <div><i class="fas fa-list"></i> Terms of Service</div>
    </header>
    <div class="card-body">
        <h3>SuitBot Terms of Service</h3>

        <p>These Terms of Service ("Terms"), are a legal agreement between SuitBot ("Us", "We" or "Our") and you ("you", "your", the "user", or the "end user"). By using or interacting with the SuitBot Bot Instance (the "Bot") or the website located at https://suitbot.xyz (the "Site"), which are collectively referred to as the "Service", you ("User") agree to be bound by these Terms.</p>

        <p>We reserve the right, at our sole discretion, to modify or revise these Terms at any time, and you agree to be bound by such modifications or revisions.
        Any such change or modification will be effective immediately, and your continued use of the Service will constitute your acceptance of, and agreement to, such changes or modifications.
            If you object to any change or modification, your sole recourse shall be to cease using the Service.</p>

        <p>Last Modified: 12th June 2022.</p>

        <h3>Rights to use the Service</h3>

        <p>Subject to your compliance with these Terms, we grant you a limited, revocable, non-exclusive, non-transferable, non-sublicensable license to use and access the Service, solely for your personal, non-commercial use.</p>

        <p>You agree not to (and not to attempt to) (i) use the Service for any use or purpose other than as expressly permitted by these Terms or (ii) copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Service or any portion of the Service, except as expressly permitted in these Terms. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by us, except for the permissions and rights expressly granted in these Terms.</p>

        <p>We reserve the right to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. We reserve the right to refuse any user access to the Services without notice for any reason, including but not limited to a violation of the Terms.</p>

        <p>If you violate these Terms, we reserve the right to issue you a warning regarding the violation or immediately terminate or suspend your use of the service. You agree that we need not provide you notice before terminating or suspending your access, but we may do so.</p>

        <h3>Audio Streaming</h3>

        <p>SuitBot offers multiple sources ("Sources") to stream audio from. These sources can be streamed to various platforms SuitBot supports for you to listen to.</p>

        <p>By you, the end user, requesting audio to be streamed from these sources, you accept that SuitBot will have no liability arising from your use of or access to any of that third-party's content, service or website.</p>

        <h3>Third-Party Services</h3>

        <p>We use third-party services to help us provide the Service, but such use does not indicate that we endorse them or are responsible or liable for their actions. In addition, the Service may link to third-party websites to facilitate its provision of services to you. If you use these links, you will leave the Service. We are not responsible for nor do we endorse these third-party websites or the organizations sponsoring such third-party websites or their products or services, whether or not we are affiliated with such third-party websites. You agree that we are not responsible or liable for any loss or damage of any sort incurred as a result of any such dealings you may have on or through a third-party website or as a result of the presence of any third-party advertising on the Service.</p>

        <h3>Disclaimer of Warranty</h3>

        <p>THE SERVICES AND THE SERVICE MATERIALS ARE PROVIDED "AS IS" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. IN ADDITION, WHILE THE WE ATTEMPT TO PROVIDE A GOOD USER EXPERIENCE, SUITBOT CANNOT AND DO NOT REPRESENT OR WARRANT THAT THE SERVICES WILL ALWAYS BE SECURE OR ERROR-FREE OR THAT THE SERVICES WILL ALWAYS FUNCTION WITHOUT DELAYS, DISRUPTIONS, OR IMPERFECTIONS. THE FOREGOING DISCLAIMERS SHALL APPLY TO THE EXTENT PERMITTED BY APPLICABLE LAW.</p>

        <h3>Limitation of Liability</h3>

        <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT WILL SUITBOT BE LIABLE TO YOU OR TO ANY THIRD PERSON FOR ANY CONSEQUENTIAL, INCIDENTAL, SPECIAL, PUNITIVE OR OTHER INDIRECT DAMAGES, INCLUDING ANY LOST PROFITS OR LOST DATA, ARISING FROM YOUR USE OF THE SERVICE OR OTHER MATERIALS ON, ACCESSED THROUGH OR DOWNLOADED FROM THE SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT WE HAVE BEEN ADVISED OF THE POSSIBILITY OF THESE DAMAGES.</p>
    </div>
</div>

<%- include("../partials/footer") %>