<%- include("partials/header", { djsClient, user, path, title: "SuitBot" }) %>

<div style="margin: 0; padding-top: 2%; text-align: center;">
    <div style="margin: auto;">
        <h1 style="font-family: 'Bebas Neue', sans-serif; font-size: 200px; margin-bottom: -50px;">4<img src="/assets/img/suit.png" style="height: 160px; margin: 0 -30px;">4</h1>
        <p style="font-family: 'Bebas Neue', sans-serif; font-size: 50px;">Page not found!</p>
        <p style="font-family: 'Bebas Neue', sans-serif; font-size: 30px;">We searched the entire wardrobe, but couldn't find a matching suit! :(</p>
        <a class="dashboard-button btn btn-lg btn-secondary btn-block rounded-pill" href="/"><i class="fas fa-home"></i> Home</a>
    </div>
</div>

<%- include("partials/footer") %>
